<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>修改支付密码</title>
		<link rel="icon" href="../static/img/logo.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../../static/css/site.css"
			th:href="@{/css/site.css}"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/center.css"
			th:href="@{/css/center.css}"/>
		<link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"
			  th:href="@{/layui/css/layui.css}"/>

		<script type="text/javascript" src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>

	</head>
	<body>
	
		<div id="header" th:replace="frag::header"></div>
		
		<div class="user-center">
			<div class="container clear">
				<div class="crumbs">
					<a href="../index.html">首页</a>
					<span class="sep">/</span>
					<a >交易订单</a>
				</div>
				
				<div class="menu">
					<h3>订单中心</h3>
					<ul>
						<li><a href="orderList.html" th:href="@{/user/order/toList}">我的订单</a></li>

					</ul>
					
					<h3>个人中心</h3>
					<ul>
						<li ><a href="">我的个人中心</a></li>
						<li><a href="addr.html" th:href="@{/user/addr}">收货地址</a></li>
						<li><a href="">消息通知</a></li>

					</ul>
					

					
					
					<h3>账户管理</h3>
					<ul>
						<li ><a href="" th:href="@{/user/userInfo}">个人信息</a></li>
						<li class=""><a href="" th:href="@{/user/updatePassword}">修改密码</a></li>
						<li class="active"><a href="" th:href="@{/user/updatePayPassword}">修改支付密码</a></li>
					</ul>
				</div>

				<!--主要内容body-->
				<div class="content" th:object="${session.user}">
					<h1 class="title">个人信息<span>默认的支付密码为:123456,请及时修改</span></h1>
					<!--<h3> <span>默认的支付密码为:123456</span></h3>-->

					<form action="/user/updatePayPassword" method="post">
						<div class="error" th:text="${updErrMsg}">123</div>

						<table style="width: 600px;height: 400px">

							<tr>
								<td><h2>旧支付密码：</h2></td>
								<td>
									<input class="layui-input" name="payPassword" type="password">
								</td>
							</tr>
							<tr>
								<td><h2>新支付密码：</h2></td>
								<td>
									<input class="layui-input" name="newPayPassword" type="password">
								</td>
							</tr>
							<tr>
								<td><h2>请再次输入新密码：</h2></td>
								<td>
									<input class="layui-input" name="reNewPayPassword" type="password">
								</td>
							</tr>

						</table>
						<input class="layui-btn" type="submit" value="修改"/>
					</form>

				</div>
		</div>
		
		<!-- 底部 -->
		<div th:replace="frag::footer" id="footer"></div>
		
		<!-- jQuery -->
		<script type="text/javascript" src="../../static/js/jquery-2.1.4.js" th:src="@{/js/jquery-2.1.4.js}"></script>
		<script th:if="false">
			// 动态页面需要去掉
			$("#header").load("../header.html", function(){
				$(".logo img").attr("src", "../../static/img/logo-mi.png");
			});
			$("#footer").load("../footer.html");
			
		</script>
		<!-- order.js -->
		<script type="text/javascript" src="../../static/js/order.js" th:src="@{/js/order.js}"></script>
	</body>
</html>
