<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd" >

<!-- 定义 Thymeleaf的代码片段, 可以在多个页面中进行复用 -->

		<div class="header" th:fragment="header">
			<div class="nav clear">
				<div class="container">
					<div class="left">
						<ul>
							<li><a href="index.html" th:href="@{/}">华为商城</a></li>
							<li><a href="">HUAWEI</a></li>
							<li><a href="https://www.vmall.com/portal/activity/index.html?pn=cxpc">AITO汽车</a></li>

						</ul>
					</div>
					<div class="right">
						<ul th:if="${session.user != null}">
							<li class="user">
								<a href="javascript:;" >
									<span th:text="${session.user.username}">用户名</span>
									<i class="mi-icon icon-down"></i>
								</a>
								<div class="user-menu">
									<a href="" th:href="@{/user/userInfo}">个人中心</a>
									<a href="" th:href="@{/user/updatePassword}">修改密码</a>
									<a th:href="@{/user/logout}">退出登录</a>
								</div>
							</li>

							<li><a th:href="@{/user/order/toList}">我的订单</a></li>
							<li class="cart dropdown">
								<a href="user/cart.html" th:href="@{/user/cart}">
									<i class="mi-icon icon-cart"></i>
									购物车(
									<span th:text=" ${session.cartCount}">购物车 (0) </span>
									)
								</a>
								<div class="dropdown-content">
									购物车中还没有商品，赶紧选购吧！
								</div>
							</li>
						</ul>
						<ul th:if="${session.user == null}">
							<li><a href="user/login.html"
								th:href="@{/user/login}">登录</a></li>
							<li><a href="user/reg.html"
								th:href="@{/user/reg}">注册</a></li>
							<li class="cart dropdown">
								<a href="user/cart.html">
									<i class="mi-icon icon-cart"></i>
									 购物车 (0)
								</a>
								<div class="dropdown-content">
									购物车中还没有商品，赶紧选购吧！
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="site-header">
				<div class="container clear">
					<div class="logo left">
						<a href="index.html" th:href="@{/}"><img src="/img/logo-mi.png" ></a>
					</div>
					<div class="menu left">
						<ul class="clear">
							<li><a href="search.html" th:href="@{/searchByCategory(categoryId=1)}">手机</a></li>
							<li><a href=""th:href="@{/searchByCategory(categoryId=2)}">穿戴</a></li>
							<li><a href="" th:href="@{/searchByCategory(categoryId=3)}">平板</a></li>
							<li><a href="" th:href="@{/searchByCategory(categoryId=4)}">电脑</a></li>
							<li><a href="" th:href="@{/searchByCategory(categoryId=5)}">耳机音箱</a></li>
							<li><a href="" th:href="@{/searchByCategory(categoryId=6)}">智慧屏</a></li>
							<li><a href="" th:href="@{/searchByCategory(categoryId=21)}">数码配件</a></li>
							<!--<li><a href="" >路由器</a></li>-->
							<!--<li><a href="">智能硬件</a></li>-->
							<!--<li><a href="">服务</a></li>-->
							<!--<li><a href="">社区</a></li>-->
						</ul>
					</div>
					<form class="search right" th:action="@{/search}" method="GET">
						<input type="text" name="name" id="key" class="search-key left"/>
						<button type="submit" id="search"><i class="mi-icon icon-search left"></i></button>
					</form>
				</div>
			</div>
		</div>
		
		
		<!-- 底部 -->
		<div class="site-footer" th:fragment="footer">
			<div class="container">
				<div class="footer-service">
					<ul class="clear">
						<li><a href=""><i class="mi-icon icon-util"></i>预约维修服务</a></li>
						<li><a href=""><i class="mi-icon icon-log"></i>7天无理由退货</a></li>
						<li><a href=""><i class="mi-icon icon-diamond"></i>15天免费换货</a></li>
						<li><a href=""><i class="mi-icon icon-heart"></i>满69包邮</a></li>
						<li><a href=""><i class="mi-icon icon-location"></i>520余家售后网点</a></li>
					</ul>
				</div>
			</div>
		</div>