<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>华为商城-首页</title>
		<link rel="icon" href="../static/img/logo.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../static/css/site.css"
			th:href="@{/css/site.css}"/>
		<link rel="stylesheet" type="text/css" href="../static/css/index.css"
			th:href="@{/css/index.css}"/>
	</head>
	
	<!-- 
	Thymeleaf是一个模版引擎, 作用相当于原来的JSP
	Thymeleaf对前端人员更加的友好, 方便前后端人员合作开发
	
	Thymeleaf比JSP的语法更好, 嵌入在标签的属性中, 
		在标签上添加 th:XXX="", 动态设置标签的属性,  通常用于设置超连接, 地址类
		在标签上添加 th:text="", 动态设置标签的内容, 
		在标签上添加 th:utext="", 动态设置标签的内容, 可以解析其中的html标签
		
		如果需要在JS中使用Thymeleaf, [ [ ] ]添加动态的数据
	 -->
	<body>
		
		<!-- 引用一个片段 
			insert 插入, 将引用的片段插入到当前标签内部
			replace 替换, 使用引用的片段, 替换当前的标签,
			include 引入, 将引用的片段内容, 放到当前标签内
		-->
		<div th:replace="frag::header" id="header"></div>
		
		<!--  -->
		<div class="swiper">
			<div class="container">
				<div class="swiper-wrapper">
				</div>
				<div class="goods-sorts">
					<ul>
						<li th:each="parentCategory:${categoryList}"><a href="javascript:;" th:href="@{/searchByCategory(categoryId=${parentCategory.id})}"><span th:text="${parentCategory.name}">手机</span><i class="mi-icon icon-right"></i></a>
							<div class="children">
								<ul >
									<li class="left" th:each="childrenCategory:${parentCategory.children}">
										<a href="" th:href="@{/search(categoryId=${childrenCategory.id})}">
											<img src="../static/img/phone.jpg" th:src="${'/upload/'+childrenCategory.pic}">
											<span th:text="${childrenCategory.name}">Xiaomi Civi</span>
										</a>
									</li>

								</ul>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
		
		<div class="recommend">
			<div class="service left">
				<ul>
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-1.png" >-->
					<!--	保障服务-->
					<!--</a></li>-->
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-2.png" >-->
					<!--	企业团购-->
					<!--</a></li>-->
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-3.png" >-->
					<!--	F码通道-->
					<!--</a></li>-->
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-4.png" >-->
					<!--	米粉卡-->
					<!--</a></li>-->
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-5.png" >-->
					<!--	以旧换新-->
					<!--</a></li>-->
					<!--<li><a href="javascript:void(0);">-->
					<!--	<img src="../static/img/service-6.png" >-->
					<!--	话费充值-->
					<!--</a></li>-->
				</ul>
			</div>
			<div class="container">
				<div class="brick">
					<div class="brick-head clear" style="background: #1e9fff;">

						<div style="text-align: center" >
							<h2 class="title ">甄选推荐</h2>
						</div>

					</div>
					<div class="brick-box clear">

						<div class="left " >
							<!--<a href="" ><img style="height: 300px" src="../static/img/brick-box-goods-1.webp"th:src="${'/upload/'+'PrdShow_1692629422539.png'}" ></a>-->
							<h2 class="title left" >浏览记录</h2>
							<br>
							<div th:each="goods:${session.browsingList}" >
								<br>
								<a href="" th:href="${'/getGoodsInfo/'+goods.id}"><span style="color: #0c0c0c" th:text="${goods.name}">111</span></a>
							</div>

						</div>

						<div class="right">
							<ul>
								<li th:each="goods:${interestedGoodsList}">
									<a href="" th:href="${'/getGoodsInfo/'+goods.id}">
											<div class="img">
												<img src="../static/img/brick-box-goods-2.webp" th:src="${'/upload/'+goods.pics[0].url}" >
											</div>
											<h3 class="title" th:text="${goods.name}">黑鲨4S</h3>
											<p class="desc" th:text="${goods.dscp}">磁动力升降肩键</p>
											<p class="price" th:text="${goods.price}">2699元起</p>
									</a>
								</li>

								</ul>
						</div>

					</div>
				</div>

			</div>

		</div>
		
		<div class="recommend">
			<div class="container">

				
				<!-- 手机 -->
				<div class="brick" th:each="parentCategory:${categoryList}">
					<div class="brick-head clear">
						<h2 class="title left" th:text="${parentCategory.name} +'专区'">手机</h2>
						<div class="more right">
							<a href="" th:href="@{/searchByCategory(categoryId=${parentCategory.id})}">查看更多
								<i class="mi-icon icon-right"></i>
							</a>
						</div>
					</div>
					<div class="brick-box clear">
						<div class="left brick-left-single">
							<a href="" th:href="@{/searchByCategory(categoryId=${parentCategory.id})}"><img src="../static/img/brick-box-goods-1.webp"th:src="${'/upload/'+parentCategory.pic}" ></a>
						</div>
						<div class="right" >
							<ul >

								<li th:each="goods:${parentCategory.goodsList}"><a href="" th:href="${'/getGoodsInfo/'+goods.id}">
									<!--<h2 class="title left" th:text="${goods.pics[0].url}">手机</h2>-->
									<div class="img">
										<img src="../static/img/brick-box-goods-2.webp" th:src="${'/upload/'+goods.pics[0].url}" >
									</div>

									<h3 class="title" th:text="${goods.name}">黑鲨4S</h3>
									<p class="desc" th:text="${goods.dscp}">磁动力升降肩键</p>
									<p class="price" th:text="${goods.price}">2699元起</p>
									</a>
								</li>

							</ul>
						</div>

					</div>

				</div>
				




			</div>
		</div>
		
		<!-- 底部 -->
		<div th:replace="frag::footer" id="footer"></div>
		
		<!-- 引入jquery -->
		<script src="../static/js/jquery-2.1.4.js" th:src="@{/js/jquery-2.1.4.js}" type="text/javascript" charset="utf-8"></script>
		<!-- 引入轮播图 -->
		<script src="../static/js/swiper.js" th:src="@{/js/swiper.js}" type="text/javascript" charset="utf-8"></script>
		<!-- 引入index.js -->
		<script src="../static/js/index.js" th:src="@{/js/index.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			// 创建轮播插件
			var swiper = new Swiper({
				elem: '.swiper-wrapper',
				width: 1226,
				height: 460,
				speed: 2200,
				imgs: [
					{img:"../static/img/vmall06.webp", link: "/getGoodsInfo/48"},
					{img:"../static/img/vmall01.webp", link: "/getGoodsInfo/33"},
					{img:"../static/img/vmall02.webp",  link: "/getGoodsInfo/44"},
					{img:"../static/img/vmall03.webp",  link: "/getGoodsInfo/15"},
					{img:"../static/img/vmall04.webp",  link: "/getGoodsInfo/31"},
					{img:"../static/img/vmall05.webp", link: "/getGoodsInfo/33"} ]
			});
			// 初始化轮播图
			swiper.init();	
		</script>
		<script th:if="false">
			// 动态页面需要去掉
			$("#header").load("header.html");
			$("#footer").load("footer.html");
			
			$(".swiper-wrapper .next").css('background-image', 'url(../static/img/icon-slides.png)')
			$(".swiper-wrapper .pre").css('background-image', 'url(../static/img/icon-slides.png)')
		</script>
	</body>
</html>
