<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.stmall.common.mapper.OrderDetailMapper">

    <resultMap id="resultMapOrderDetail" type="orderDetail">
        <id column="goods_id" property="goodsId"/>
        <result column="order_id" property="orderId"/>
        <association column="goods_id" property="goods" javaType="goods" select="com.situ.stmall.common.mapper.GoodsMapper.findById"/>
    </resultMap>

    <resultMap id="resultMapOrderDetail2" type="orderDetail">
        <id column="goods_id" property="goodsId"/>
        <result column="order_id" property="orderId"/>
        <association column="order_id" property="order" javaType="order" select="com.situ.stmall.common.mapper.OrderMapper.selectById"/>
        <association column="goods_id" property="goods" javaType="goods" select="com.situ.stmall.common.mapper.GoodsMapper.findById"/>
    </resultMap>

    <insert id="insert" parameterType="orderDetail">
        insert into `order_detail` (`count`,`price`,`goods_id`,`order_id` ) values
        <foreach collection="orderDetails" item="orderDetail" separator=",">
        (#{orderDetail.count},#{orderDetail.price},#{orderDetail.goodsId},#{orderDetail.orderId})
        </foreach>
    </insert>

    <select id="selectByOid" resultMap="resultMapOrderDetail2">
        select * ,`count`*`price`as`total_price` from  order_detail where order_id = #{id}
    </select>
<!--    <select id="selectById" resultMap="resultMapOrderDetail">-->
<!--        select *,`count`*`price`as`total_price` from  order_detail where id = #{id}-->
<!--    </select>-->


    <select id="selectById" resultMap="resultMapOrderDetail">
        select *,`count`*`price`as`total_price` from  order_detail where id = #{id}
    </select>

    <select id="selectByOrderId" resultMap="resultMapOrderDetail">
        select * from  order_detail where `order_id` = #{id}
    </select>
    <select id="selectByGoodsId" resultMap="resultMapOrderDetail">
        select * from  order_detail where goods_id =#{goodsId}
    </select>


</mapper>